* {
     box-sizing: border-box;
  }
   
  ul {    
     list-style-type: none;
     padding: 0; 
     margin: 0; 
  }
   
  ul div {
     cursor: pointer;
     position: relative;
     padding: 12px 8px 12px 40px;
     background: #eee;
     font-size: 18px;
     transition: 0.2s;
  }    
   
  ul div:nth-child(odd) {
     background: #f9f9f9;
  }
   
  ul div:hover {
     background: #ddd;
  }
   
  .header {
     background-color: #312d2d;
     padding: 30px 40px;
     color: white;
     text-align: center;
  }
   
  .header:after {
     content: "";
     display: table;
     clear: both;
  }
    
  input {
     margin: 0;
     border: none;
     border-radius: 0;
     width: 75%;
     padding: 10px;
     float: left;
     font-size: 16px;
  }
   
  .RButton {
     padding: 10px;
     margin-top: -2px;
     width: 25%;
     background: #d9d9d9;
     color: #555;
     float: right;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;
     border-radius: 0;
  }

  .LButton {
   padding: 10px;
   margin-left: -2px;
   width: 25%;
   background: #d9d9d9;
   color: #555;
   float: left;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   border-radius: 0;
  }
   
  .RButton:hover {
     background-color: #bbb;
  }

  .LButton:hover {
   background-color: #bbb;
  }

  .show {
    visibility: visible;
  }

  .hide {
   visibility: hidden;
  }

  .bold {
   font-weight: bold;
  }